<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="name" id="name" [(ngModel)]="newCompany.name" placeholder="Name" class="form-control">
        </div>
        <div class="col-md-5">
          <input type="text" name="active" id="active" [(ngModel)]="newCompany.active" placeholder="Active" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>


    <div class="companys" *ngIf="companyList">
      <table class="table">
        <thead class="h">
          <tr class="h">

            <th class="h">Name</th>
            <th class="h">Active</th>

          </tr>
        </thead>
        <tbody>

          <tr class="company" *ngFor="let company of companyList">

            <td>{{company.name}}</td>
            <td>{{company.active}}</td>


            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-2">

  </div>

  <div class="col-md-2">

  </div>
</div>
