<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav>
  <a routerLink="/user">user</a>
  <a routerLink="/company">company</a>
  <a routerLink="/tag">tag</a>
  <a routerLink="/notification">notification</a>
  <a routerLink="/notificationgroup">notificationgroup</a>
  <a routerLink="/beacongroup">beacongroup</a>
  <a routerLink="/beacon">beacon</a>
  <a routerLink="/purpose">purpose</a>
</nav>
<router-outlet></router-outlet>

</div>
